<style>

  :root {
    --clr-white: #ebfffc;
    --clr-dark: #222;
    --clr-light-violet: #825B97;
    --clr-dark-violet: #431C52;
    --clr-light-green: #388688;
    --clr-dark-green: #0F496E; 
    --clr-error: #6F0119;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
  }

  body {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--clr-dark);
  }

  .title {
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .joke-container {
    flex: 0 0 500px;
    height: fit-content;
    background: linear-gradient(125deg, var(--clr-light-green), var(--clr-dark-green));
    color: var(--clr-white);
    margin: auto 0;
    border-radius: 0.5rem;
    padding: 2rem 2rem 2rem 2rem;
    text-align: left;
  }

  .label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-white);
    text-shadow: 0 0 1.2rem -0.6rem;
  }

  .category {
    font-size: 0.9rem;
    font-weight: 600;
    width: 9rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .single {
    font-weight: 400;
    padding-top: 0.4rem;
    padding-bottom: 0;
    line-height: 1.4rem;
  }

  .question {
    font-weight: 600;
    padding-top: 0.3rem;
    margin-bottom: 0.3rem;
    line-height: 1.4rem;
  }

  .answer {
    font-weight: 400;
    padding-top: 0.2rem;
    line-height: 1.4rem;
  }

  .error {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
  }
  
</style>
